@font-face {
	font-family: "Right Grotesk Compact Black";
	src: local("Right Grotesk Compact Black"),
		url("src/styles/utils/fonts/RightGrotesk/RightGrotesk-CompactBlack.otf");
}
@font-face {
	font-family: "Right Grotesk Medium";
	src: local("Right Grotes Medium"),
		url("src/styles/utils/fonts/RightGrotesk/RightGrotesk-Medium.otf");
}
@font-face {
	font-family: "Right Grotesk NarrowLight";
	src: local("Right Grotesk NarrowLight"),
		url("src/styles/utils/fonts/RightGrotesk/RightGrotesk-NarrowLight.otf");
}
@font-face {
	font-family: "Right Grotesk spatialblack";
	src: local("Right Grotesk spatialblack"),
		url("src/styles/utils/fonts/RightGrotesk/rightgrotesk-spatialblack.otf");
}
@font-face {
	font-family: "Right Grotesk TightMedium";
	src: local("Right Grotesk TightMedium"),
		url("src/styles/utils/fonts/RightGrotesk/RightGrotesk-TightMedium.otf");
}
@font-face {
	font-family: "Right Grotesk WideMedium";
	src: local("Right Grotesk WideMedium"),
		url("src/styles/utils/fonts/RightGrotesk/RightGrotesk-WideMedium.otf");
}

// 	font-family: 'Biroscript';

@font-face {
	font-family: "Biro Script Plus Bold";
	src: local("Biro Script Plus Bold"),
		url("src/styles/utils/fonts/BiroScript/BiroScriptPlus-Bold.ttf");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Biro Script Plus";
	src: local("Biro Script Plus"), local("BiroScriptPlus"),
		url("src/styles/utils/fonts/BiroScript/BiroScriptPlus.ttf");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Biro Script Plus Sloppy";
	src: local("Biro Script Plus Sloppy"), local("BiroScriptPlus-Sloppy"),
		url("src/styles/utils/fonts/BiroScript/BiroScriptPlus-Sloppy.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Biro Script Plus Sloppy US";
	src: local("Biro Script Plus Sloppy US"), local("BiroScriptUSPlus-Sloppy"),
		url("src/styles/utils/fonts/BiroScript/BiroScriptUSPlus-Sloppy.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Biro Script Plus US Regular";
	src: local("Biro Script Plus US"), local("BiroScriptUSPlus-Regular"),
		url("src/styles/utils/fonts/BiroScript/BiroScriptUSPlus-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Biro Script Plus Bold US";
	src: local("Biro Script Plus Bold US"), local("BiroScriptUSPlus-Bold"),
		url("src/styles/utils/fonts/BiroScript/BiroScriptUSPlus-Bold.ttf");
	font-weight: bold;
	font-style: normal;
}

// 	font-family: 'MessinaSansMono';
@font-face {
	font-family: "Messina Sans Mono SemiBold";
	src: local("Messina Sans Mono SemiBold"), local("MessinaSansMono-SemiBold"),
		url("src/styles/utils/fonts/MessinaSans/MessinaSansMono-SemiBold.ttf");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Messina Sans Mono Light";
	src: url("MessinaSansMono-Light.eot");
	src: local("Messina Sans Mono Light"), local("MessinaSansMono-Light"),
		url("src/styles/utils/fonts/MessinaSans/MessinaSansMono-Light.ttf");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Messina Sans Mono Book";
	src: url("MessinaSansMono-Book.eot");
	src: local("Messina Sans Mono Book"), local("MessinaSansMono-Book"),
		url("src/styles/utils/fonts/MessinaSans/MessinaSansMono-Book.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Messina Sans Mono Bold";
	src: url("MessinaSansMono-Bold.eot");
	src: local("Messina Sans Mono Bold"), local("MessinaSansMono-Bold"),
		url("src/styles/utils/fonts/MessinaSans/MessinaSansMono-Bold.ttf");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Messina Sans Mono Regular";
	src: url("MessinaSansMono-Regular.eot");
	src: local("Messina Sans Mono Regular"), local("MessinaSansMono-Regular"),
		url("src/styles/utils/fonts/MessinaSans/MessinaSansMono-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Messina Sans Mono Black";
	src: url("src/styles/utils/fonts/MessinaSans/MessinaSansMono-Black.woff");
	src: local("Messina Sans Mono Black"), local("MessinaSansMono-Black"),
		url("src/styles/utils/fonts/MessinaSans/MessinaSansMono-Black.woff");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Messina Sans Mono";
	src: url("src/styles/utils/fonts/MessinaSans/MessinaSansMono-Black.eot");
	src: local("Messina Sans Mono Black"), local("MessinaSansMono-Black"),
		url("src/styles/utils/fonts/MessinaSans/MessinaSansMono-Black.eot")
			format("embedded-opentype"),
		url("src/styles/utils/fonts/MessinaSans/MessinaSansMono-Black.woff2")
			format("woff2"),
		url("src/styles/utils/fonts/MessinaSans/MessinaSansMono-Black.woff")
			format("woff"),
		url("src/styles/utils/fonts/MessinaSans/MessinaSansMono-Black.ttf")
			format("truetype");
	font-weight: 900;
	font-style: normal;
}
