.header {
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 12px;
	padding-top: 8px;
	margin-right: 8px;
	margin-left: 8px;
	margin-top: 54px;
	background-color: var(--background-color-hero);

	@media screen and (min-width: 768px) {
		padding-left: 12px;
		padding-right: 12px;
		margin-right: 16px;
		margin-left: 16px;
	}

	@media screen and (min-width: 1280px) {
		padding: 24px;
	}
}
.navigation {
	display: flex;
	justify-content: space-between;
	justify-items: center;
}

.btnMenu {
	padding-top: 8px;
	background-color: var(--background-blur);
	align-items: center;
	width: 48px;
	height: 48px;
	color: var(--text-color-black);
	border-radius: 8px;
	font-family: "Messina Sans Mono";
	font-weight: 600;
	font-size: 12px;
	line-height: 1.17;
	padding: 17px 8.5px;
	cursor: pointer;
	margin-bottom: 8px;

	@media screen and (min-width: 1280px) {
		width: 80px;
		height: 80px;
		border-radius: 12px;
		font-size: 16px;
		line-height: 1.19;
	}
}
@media (min-width: 1280px) {
	.logo {
		display: none;
	}

	.header::before {
		content: "";
		display: block;
		width: 72px;
		height: 50px;
		background-image: url("../../assets/icons/LogoBig.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
	}
}
